* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 13vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.logo img{
    height: 6rem;
    width: 6rem;
    

}
.hamburger{
    display: none;
    top: 5%;
    right: 2%;
}

.line{
    height: 3px;
    width: 30px;
    background-color: whitesmoke;
    margin: 0.3rem;
    
}

.links ul{
    list-style: none;
    display: flex;
    
    
}
.links li{
    margin: 30px 5px;
    
   
    
} 

.links a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
   
}
.links li:hover{
    background-color: #17cf38;
    font-style: italic;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px auto;
    
}
.pack{
    background-color: #17cf38;
    font-style: italic;
    
}
.pack a{
    margin: 5px 15px;
    color: whitesmoke;

}
.submenu{
    display: none;
}
.links li:hover .submenu{
    display: block;
    position: absolute;
    background-color: #17cf38;
    margin-top: 2px;
    margin-left: -15px;
}
.links li:hover .submenu ul{
    display: block;
   margin: 10px;
}
.links li:hover .submenu ul li{
   width: 150px;
   border-bottom: 1px solid whitesmoke;
   text-align: left;
  
}
.links li:hover .submenu ul li:last-child{
   border-bottom: none;
   
 }
 .links li:hover .submenu ul li a:hover {
     color: whitesmoke;

 }

/* Landing area */
.landingpage{
    width: 100%;
    height: 87vh;
    background: url(/img/landingpage1.jpg)center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: #17cf38;
    font-family: 'Roboto', sans-serif;
}
.secondpara{
    color: #17cf38;
    font-style: italic;
    font-family: 'Lexend Deca', sans-serif;
}

.thirdpara{
    border: 1px solid whitesmoke;
    background-color: #17cf38;
    font-size: 18px;
    padding: 10px 20px;
}
.thirdpara a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* about */
#aboutus{
    height: 100vh;
    width: 100%;
    background-color: #d0cdce;
}
.abouttitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.aboutwrap{
    height: 90%;
    width: 90%;
   
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.aboutbigcontainer{
    height: 100%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 10px;
}
.aboutpara1, .aboutpara2{
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.aboutsmallcontainer{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.aboutsubcontainer1{
    height: 45%;
    width: 100%;
    background: url(/img/photo_2019-08-19_22-07-12.jpg) center center/cover no-repeat;
}
.aboutsubcontainer2{
    height: 45%;
    width: 100%;
    background: url(/img/photo_2019-08-19_22-09-54.jpg) center center/cover no-repeat;
}
/* service */
#services{
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}
.servicetitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.serviceheadpara{
    text-align: center;
    font-size: 18px;
}
.servicecontainer{
    width: 90%;
    height: 90%;
    background-color: white;
    display: block;
    margin: 10px auto;
}
.innercontainer1, .innercontainer2{
    display: flex;
    margin-bottom: 20px;
   

}
.servicewrap{
    height: 300px;
    width: 30%;
    border: 2px groove #17cf38;
    margin: 10px 7px;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons{
    display: flex;
    justify-content: center;
    
}
.icons i{
    background-color: #17cf38;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    padding: 5px 2px 2px 7px;
}
.iconheader{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}
/* Promise section */
.promise{
    height: 100vh;
    width: 100%;
    background: url(/img/DSC_0183.JPG) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.promtitle{
    height: 10%;
    width: 50%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}
.prominner {
    height: 50%;
    width: 50%;
    background-color: black;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    
}
/* Space */
.space{
    width: 100%;
    height: 3vh;
    background-color: whitesmoke;
}
/* Packages Section*/
/* Packages: Common areas */
#packages{
    height: 100%;
    width: 100%;
    background-color: #d0cdce;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px auto;
}
.packagebtns{
    height: 8vh;
    width: 60%;
    margin: 10px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.photoonlybtn{
    height: 100%;
    width: 33%;
    background-color: darkred;
    cursor: pointer;
    border-radius: 50px 0 0px 50px;
}
.filmonlybtn{
    height: 100%;
    width: 33%;
    background-color: #333;
    cursor: pointer;
    
}
.combobtn{
    height: 100%;
    width: 33%;
    background-color: green;
    cursor: pointer;
    border-radius: 0 50px 50px 0; 
}
.words{
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Packages: Photo only */
.photoonlyoptions{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: none;
    margin: 10px auto;
    justify-content: space-between;
}
.photoonlyoptions.show{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.photo{
    border: 1px solid #333;
    height: 100%;
    width: 24%;
}
.photoheader{
    height: 10vh;
    width: 100%;
    background-color: darkred;
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    height: 10%;
    width: 100%;
    background-color: darkred;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photobody{
    height: 70%;
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    line-height: 20px;

}
.photobody i{
    color: darkred;
}

.phototail{
    height: 5%;
    width: 100%;
    background-color: #d0cdce;
    height: 5vh;
}
.phototail2{
    width: 100%;
    background-color: darkred;
    height: 5vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Packages: Video only */

.filmonlyoptions{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: none;
    margin: 10px auto;
    justify-content: space-between;
}
.filmonlyoptions.show{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.film{
    border: 1px solid #333;
    height: 100%;
    width: 24%;
}
.filmheader{
    height: 10vh;
    width: 100%;
    background-color: #333;
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    height: 10%;
    width: 100%;
    background-color: #d0cdce;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filmbody{
    height: 60%;
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    line-height: 20px;

}
.filmbody i{
    color: #333;
}

.filmtail{
    width: 100%;
    background-color: #d0cdce;
    height: 5vh;
}
.filmtail2{
    width: 100%;
    background-color: #333;
    height: 5vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/* Packages: Photo + Video*/

.combooptions{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: none;
    margin: 10px auto;
    justify-content: space-between;
}
.combooptions.show{
    height: 100%;
    width: 90%;
    background-color: #fbfbfb;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.combo{
    border: 1px solid #333;
    height: 100%;
    width: 24%;
}
.comboheader{
    height: 10vh;
    width: 100%;
    background-color: green;
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    height: 10vh;
    width: 100%;
    background-color: #d0cdce;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.combobody{
    height: 60%;
    width: 100%;
    background-color: whitesmoke;
    text-align: left;
    line-height: 20px;

}
.combobody i{
    color: green;
}

.combotail{
    width: 100%;
    background-color: #d0cdce;
    height: 5vh;
}
.combotail2{
    width: 100%;
    background-color: green;
    height: 5vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/* Footer */
footer{
    height: 100%;
    width: 100%;
    background-color: black;
}
.footercontent{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerbigcontainer{
    height: 100%;
    width: 65%;
    display: flex;
}
.linkbox1, .linkbox2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.linkbox1 a, .linkbox2 a{
    text-decoration: none;
    color: #d0cdce;
 }
.linkbox1 a:hover, .linkbox2 a:hover{
    text-decoration: none;
    color: #17cf38;
 }
/* .footersmallcontainer{
    height: 100%;
    width: 35%;
    display: flex;
    background-color: aqua;
    
} */
.socialicons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.socialicons a{
    color: white;
    /* background-color: #17cf38;
    border-radius: 50px; */
    padding: 20px 20px 10px 10px;
}
.footerdown{
    height: 10%;
    width: 100%;
    background-color: #17cf38;
    text-align: center;
}