* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 13vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.logo img{
    height: 6rem;
    width: 6rem;
    

}
.hamburger{
    display: none;
    top: 5%;
    right: 2%;
}

.line{
    height: 3px;
    width: 30px;
    background-color: whitesmoke;
    margin: 0.3rem;
    
}

.links ul{
    list-style: none;
    display: flex;
    
    
}
.links li{
    margin: 30px 5px;
    
} 

.links a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
   
}
.links a:hover{
    background-color: #17cf38;
    font-style: italic;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px auto;
    
}
.pack{
    background-color: #17cf38;
    font-style: italic;
    
}
.pack a{
    margin: 5px 15px;
    color: whitesmoke;

}
/* Landing area */
.landingpage{
    width: 100%;
    height: 87vh;
    background: url(/img/landingpage1.jpg)center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: #17cf38;
    font-family: 'Roboto', sans-serif;
}
.secondpara{
    color: #17cf38;
    font-style: italic;
    font-family: 'Lexend Deca', sans-serif;
}

.thirdpara{
    border: 1px solid whitesmoke;
    background-color: #17cf38;
    font-size: 18px;
    padding: 10px 20px;
}
.thirdpara a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}